.container {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.title {
  display: block;
}

.add {
  height: 45px;
  margin-bottom: 20px;
}
.add input {
  width: 100%;
  height: inherit;
  font-size: 16px;
  padding: 0 20px;
  border: 1px solid #c7c2c2;
  border-radius: 3px;
  background: rgb(175 175 175 / 10%);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.item {
  height: 45px;
  display: flex;
	flex-direction: row;
	align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.item input {
  margin-right: 10px;
}

.disabled {
  color: #d9d3d3;
}

.disabled label {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  
}
